{% extends 'Games/base.html' %}
{% load static %}

{% block page_header %}
  <div class="jumbotron shadow-sm">
    <h2 class="display-4"><center>{{ game }}</center></h2>
    <div class="container">
      <h2>Description</h2>
      {{ game.description}}</div>

    <div class="container"><br><b>Owner: </b>{{ game.owner }}</div>
    <div class="container"><b>Date: </b> {{ game.date_added }}</div>
    <div class="container"><b>Minimum</b> {{ game.min_player_count}}</div>
    <div class="container"><b>Maximum</b> {{ game.max_player_count}}</div>
    <br>
    
    <div class="container"><b>Loaned</b> {{ game.loaned}}</div>
  </div>
  <div class="container">
    <h5 style="font-variant: small-caps;">
      <a href="{% url 'Games:loan_game' %}"><b>Loan Games</b></a>
    </h5>
  </div>
  <p><a >Edit Board Game Details</a></p>
  
{% endblock page_header %}

{% block content %}


  <ul> 
  {% for log in logs %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ log.date_added|date:'M d, Y H:i' }}
      </h4>
      <div class="card-body">
        {{ game.text|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>
      <br><br><br><br><br>
      There is no log for this game yet.
    </p>
  {% endfor %}

{% endblock content %}