{% extends 'Games/base.html' %}

{% block page_header %}
  <h3>{{ game }}</h3>
  <! -- game.description for description etc.  -- >
{% endblock page_header %}

{% block content %}

  <ul>
  {% for log in logs %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ log.date_added|date:'M d, Y H:i' }}
        <small><a href="{% url 'Games:edit_game' game.id %}">Edit Board Game Details</a></small>
      </h4>
      <div class="card-body">
        {{ game.text|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>There is no information for this game yet.</p>
  {% endfor %}

{% endblock content %}