{% extends "Games/base.html" %}
{% load static%}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Board Game Manager</h1>

    <p class="lead">Welcome to the board-game heaven!
        You can now add your board games, loan new 
	and know more about the games.</p>

  {% if user.is_authenticated %}
  {% else %}
      <a class="btn btn-lg btn-primary" href="{% url 'Users:register' %}"
          role="button">Register &raquo;</a>
  {% endif %}
  </div>
  
{% endblock page_header %}

{% block content %}
  <div class="container">
    <h3 class="jumbotron" style="text-align: center; width: 50%; height:20%; background: wheat;">
      <a style="color: black;" href="{% url 'Games:games' %}">Board Game List</a>
    </h3>
    <h3 class="jumbotron" style="text-align: center; width: 50%; height: 20%; background-color: wheat;">
      <a style="color: black;" href="{% url 'Users:logout'%}">Logout</a>
    </h3>
  </div>
{% endblock content%}